    $body-color: #f2f2f2;
    $basic-font: 'Lato',
    sans-serif;
    $accent-color: #fff;
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        font-family: $basic-font;
        width: 100%;
        height: 100vh;
        display: flex;
        margin: 0;
        padding: 0;
        background: $body-color;
        overflow: hidden;
        position: relative;
    }
    
    .maincontent {
        height: 100vh;
        flex: 1 0;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        font-weight: normal;
        font-style: normal;
    }
    
    .overlay {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        position: fixed;
        background: rgba(0, 0, 0, .2);
        display: none;
    }
    
    .overlay--active {
        display: block;
    }
    
    .container {
        margin: 0 auto;
        position: relative;
        z-index: 99;
        width: 1024px;
        height: 100%;
        transition: width .3s ease-in-out;
        @include responsive(1324px) {
            width: 900px;
        }
        @include responsive(1210px) {
            width: 850px;
        }
        @include large {
            width: 750px;
        }
        @include medium {
            width: 500px;
        }
        @include small {
            width: 400px;
        }
        @include extraSmall {
            width: 250px;
        }
    }