.header {
    margin: 0;
    padding: 0;
    
}

.header__top {
    width: 100%;
    background: rgb(236,238,244);
}

.header__address {
    @include flexBetween;
    font-style: normal;

    @include small {
        flex-flow: column wrap;
    }
}

.header__address--link {
    display: flex; 

    :last-child {
        margin-right: 0;
    }

    @include small {
        padding-bottom: 20px;
    }

    @include responsive(761px) {
        padding: 10px 0;
    }
}

.address__link {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: $main-color;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: .5px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: color .2s ease-in-out;   
    transition: background .2s ease-in-out; 

    i {
        font-size: 20px;
        padding-right: 15px;
    }

    &:hover {
        color: $hover-color;
    }
    &:active {
        background: $active-color;
    }
}

.header__address--social {
    display: flex;
    &a:first-child {
        border-left: 1px solid $border-color;
    }

    @include responsive(761px) {
        display: none;
    }
}

.address__social--link {
    @include flexCenter;
    text-decoration: none;
    width: 66px;
    padding: 15px 0;
    border-right: 1px solid $border-color;   
    font-size: 20px;

    &:hover {
        color: $main-color;
    }

    &:active {
        color: $active-color;
    }
}

.link__fb {
    color: #2b75b2;
    transition: color .2s ease-in-out;
}

.link__tw {
    color: #1faae2;
    transition: color .2s ease-in-out;
}

.link__insta {
    color: #26658e;
    transition: color .2s ease-in-out;
}

.link__gg {
    color: #dd4070;
    transition: color .2s ease-in-out;
}