.hero {
    width: 100%;
    height: 895px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    @include responsive(761px) {
        height: 400px;
    }
}

.hero__content {
    display: flex;
    align-items: flex-end;
    flex-flow: column nowrap;
    bottom: 70px;
    transform: translateY(-70px);
    position: relative;
    @include responsive(1120px) {
        align-items: center;
        bottom: 100px;
        transform: translateY(-100px);
    }
    @include responsive(918px) {
        bottom: 20px;
        transform: translateY(-20px);
    }
}

.hero__title {
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding-bottom: 100px;
    @include responsive(761px) {
        justify-content: center;
        align-items: center;
    }
}

.hero__title--top {
    font-size: 58px;
    line-height: 58px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    z-index: 999;
    @include responsive(761px) {
        display: flex;
        font-size: 40px;
        line-height: 40px;
    }
    @include responsive(518px) {
        text-align: center;
    }
}

.hero__title--and {
    position: absolute;
    top: 20px;
    @include responsive(761px) {
        display: block;
    }
}

.hero__title--bottom {
    font-size: 45px;
    line-height: 45px;
    padding-left: 100px;
    @include responsive(761px) {
        display: flex;
        font-size: 30px;
        line-height: 30px;
        padding-left: 0;
        padding-top: 20px;
        z-index: 999;
    }
    @include responsive(518px) {
        text-align: center;
    }
}

.hero__gallery {
    display: flex;
    flex-flow: row nowrap;
    height: 241px;
    @include responsive(761px) {
        display: none;
    }
}

.hero__gallery--track {
    display: flex;
    flex-flow: row nowrap;
    width: 644px;
    height: auto;
    overflow: hidden;
}

.hero__gallery--img {
    padding: 0;
    margin: 0;
    position: relative;
    >img {
        width: 322px;
        height: 241px;
    }
}

.hero__gallery--like {
    @include flexCenter;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background: rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    line-height: 12px;
    letter-spacing: .4px;
    cursor: pointer;
    & i {
        font-size: 25px;
        padding-right: 10px;
        cursor: pointer;
    }
    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }
    & input[type=checkbox]:hover+label {
        color: $hover-color;
    }
    & input[type=checkbox]:hover~span {
        color: $hover-color;
    }
    & input[type=checkbox]:checked+label {
        color: $hover-color;
    }
    & input[type=checkbox]:checked~span {
        color: $hover-color;
    }
}

.hero__gallery--next--btn,
.hero__gallery--prev--btn {
    display: flex;
    background: #f4f4f4;
    border: none;
    border-radius: none;
    color: #d4d4d4;
    cursor: pointer;
    & i {
        font-size: 50px;
        padding: 0 20px;
    }
}

.hero__gallery--prev--btn {
    display: none;
}