.nav {
    border-top: 1px solid $border-color;
}
.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include flexCenter;

    & li {border-right: 1px solid $border-color;}

    :last-child {
        border-right: none;
    }

    @include responsive(1177px) {
		@include flexBetween;
    }
}

.nav__item--link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #6d6e71;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .5px;
    padding: 40px 15px;
    position: relative;
    transition: color .3s ease-in-out;

    &:hover {
        color: $hover-color;
       
    }

    &:hover:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 20px solid transparent;	
        border-bottom: 10px solid $hover-color;
        transition: border-color .3s ease-in-out;
    }

    &:active {
        color: $active-color;
    }

    &:active:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 20px solid transparent;	
        border-bottom: 10px solid $active-color;
        transition: border-color .3s ease-in-out;
    }
}

.nav__search--wrap {
    position: relative;
    color: #c7c9ce;
    @include flexCenter;

    i {
        font-size: 30px;
        padding-right: 10px;
    }

    @include responsive(1177px) {
		display: none;
    }

}
.nav__search {
    border: none;
    border-radius: none;
    font-size: 18px;

    @include placeholder {
        color: $main-color;
        font-size: 18px;
        font-weight: 400;
    }
}