.menu-btn {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    display: none;
    @include responsive(761px) {
        display: flex;
        justify-content: flex-end;
    }
}

.nav {
    transition: transform .2s ease-in-out;
    @include responsive(761px) {
        will-change: transform;
        position: fixed;
        left: 0;
        top: 0;
        width: 230px;
        height: 100vh;
        background: $hover-color;
        transform: translateX(-100%);
        z-index: 9999999999;
    }
}

.nav--active {
    @include responsive(761px) {
        transform: translateX(0);
        z-index: 9999999999;
    }
}

.nav__wrap {
    width: 100%;
    border-top: 1px solid $border-color;
    @include responsive(1178px) {
        @include flexCenter;
    }
    @include responsive(761px) {
        background: #ffffff;
    }
}

.nav__flex {
    @include flexBetween;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include flexCenter;
    & li {
        border-right: 1px solid $border-color;
    }
     :last-child {
        border-right: none;
    }
    @include responsive(1177px) {
        @include flexBetween;
    }
    @include responsive(761px) {
        flex-flow: column nowrap;
        & li {
            border-right: none;
            border-bottom: 1px solid $border-color;
        }
    }
}

.nav__item {
    @include responsive(761px) {
        width: 100%;
    }
}

.nav__item--link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #6d6e71;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .5px;
    padding: 40px 15px;
    position: relative;
    transition: color .3s ease-in-out;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 20px solid transparent;
        border-bottom: 10px solid #fff;
        transition: border-color .3s ease-in-out;
    }
    &:hover {
        color: $hover-color;
    }
    &:hover:before {
        content: '';
        display: block;
        border: 20px solid transparent;
        border-bottom: 10px solid $hover-color;
    }
    &:active {
        color: $active-color;
    }
    &:active:before {
        content: '';
        display: block;
        border: 20px solid transparent;
        border-bottom: 10px solid $active-color;
    }
    @include responsive(860px) {
        padding: 30px 10px;
    }
    @include small {
        text-align: center;
        line-height: 22px;
        font-weight: normal;
        padding: 30px 15px;
    }
    @include responsive(761px) {
        &:before {
            display: none;
        }
        &:hover {
            color: $main-color;
        }
        &:active {
            color: $border-color;
        }
    }
}

.nav__search--wrap {
    position: relative;
    color: #c7c9ce;
    @include flexCenter;
    i {
        font-size: 30px;
        padding-right: 10px;
    }
    @include responsive(1177px) {
        display: none;
    }
}

.nav__search {
    border: none;
    border-radius: none;
    font-size: 18px;
    @include placeholder {
        color: $main-color;
        font-size: 18px;
        font-weight: 400;
    }
}

#search-button {
    cursor: pointer;
}

#clear-button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: display .3s ease-in-out;
}