.projects {
    background: #efefef;
   
}

.projects__btn-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    @include responsive(878px) {
		width: column wrap;
	}
}
.projects__btn-item {
    
    &:not(:last-child) {
        margin-right: 20px;
    }

    @include responsive(878px) {
		padding: 5px;
	}

}

.projects__btn {
    border: 2px solid $border-color;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 10px 40px;
    color: $main-color;
    font-weight: normal;
    font-size: 14px;
    border-radius: 4px;
    transition: background .2s ease-in-out,
                color .2s ease-in-out;

    &:hover {
        background: #fff;
        color: $main-color;
        border: 2px solid transparent;
    }
}

.projects__btn--active {
    background: #fff;
    color: $active-color;
}

.projects__content {
    @include flexCenter;
    flex-flow: row wrap;
    padding: 30px 0;
    position: relative;
}
.projects__img--wrap {
    width: 22%;
    margin: 15px;
    padding: 15px 15px 0 15px;
    background: #fff;
    @include flexCenter;
    flex-flow: row wrap;
    border-radius: 4px;
    transition: background .2s ease-in-out;

    &:hover {
        background: rgba(212,212,213,.2);
    }

    &:active {
        background: $active-color;
    }
    @include responsive(1177px) {
        width: 30%;
        @include flexCenter;
        flex-flow: column wrap;
    }
    
    @include responsive(918px) {
		width: 40%;
	}
    @include responsive(878px) {
		width: 40%;
    }
    
    @include responsive(680px) {
        flex-flow: column wrap;
		width: 70%;
	}

    @include extraSmall {
        width: 70%;
    }
}

.projects__img {
    @include flexCenter;
    width: 250px;
    height: 210px;
    border-radius: 4px;
    background: rgb(239,239,239);
}

.projects__hover {
    @include flexCenter;
    width: 25%;

    > :first-child {
        border-right: 1px solid $border-color;
    }
}

.projects__hover-link {
    text-decoration: none;
    color: #c7c9ce;
    font-size: 20px;
    padding: 15px 50px 15px 50px;
    transition: color .2s ease-in-out;

    :hover {
        color: $hover-color;
    }

    :active {
        color: $active-color;
    }
}

.projects__up--btn {
    @include flexCenter;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    right: -40px;
    bottom: 40px;
    transform: translate(40px,-40px);
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-size: 40px;
    color: #c7c9ce;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: center;

   
    @include responsive(1340px) {
        @include flexCenter;
        right: 0;
        bottom: 0;
        transform: translate(0,0);
        position: relative;
    }

    @include responsive(918px) {
		display: none !important;
	}

}
