.wedo__list {
    list-style: none;
    color: #4F4F4F;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include responsive(982px) {
		flex-flow: column wrap;
    }
    @include small {
       margin-bottom: 20px;
    }
}

.wedo__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 45%;
    padding: 0;
    margin: 30px 20px;

    @include responsive(1120px) {
		padding: 0 35px 80px 35px;
    }
    @include medium {
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }
    @include responsive(982px) {
        justify-content: space-around;
    }
    
    @include responsive(518px) {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
	}
}
.wedo__item--descr--about {
    font-size: 16px;
    line-height: 24px;
}

.rooms__item {
    width: 100%;
    margin: 40px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
    @include small {
        margin: 10px 0;
        flex-flow: column;
    }
}
.rooms__item--img--wrap {
    width: 50%;
    @include small {
        order: 2;
        width: 100%;
    }
}
.rooms__item--img {
    display: flex;
    width: 50%;
    height: 200px;
    @include responsive(761px) {
        display: block;
        height: auto;
    }
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        margin: 0;
        padding-right: 20px;
    }
    @include responsive(761px) {
        width: 100%;
        flex-flow: column;
    }
   
   
}
.rooms__item--descr--wrap {
    width: 45%;
    
    > span {
        display: block;
    }
    @include small {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
}
.rooms__item--title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $main-color;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    @include medium {
        margin: 0;
    }
}
.rooms__item--descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 20px;
}
.rooms__item--text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
}
.views__item--img {
    display: flex;
    justify-content: space-between;
    width: 33%;
    height: 250px;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        padding: 10px;
        margin: 0;
        @include responsive(761px) {
            padding: 0;
            margin: 5px 0;
        }
    }
    @include small {
        margin-top: 30px;
        height: 200px;
    }
    @include responsive(761px) {
        width: 100%;
        flex-flow: column;
        height: auto;
    }
}