.footer {
    flex-flow: column;
    @include flexCenter;
    height: 500px;
    padding: 0 0 0 0;
    position: relative;
    top: 50px;
    transform: translateY(-50px);
    font-family: 'OpenSans', sans-serif;
}
.footer__title {
    text-align: center;
    font-weight: 700;
    color: #F7F7F7;
    font-size: 36px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.footer__content {
    width: 100%;
    height: 250px;
    background: rgba(0, 93, 121, 0.5);
    position: absolute;
    bottom: 0;
    display: flex;

}
.footer__wrap {
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row;
    font-style: normal;
    color: #ffffff;
    @include responsive(918px) {
        @include flexCenter;
        flex-flow: column wrap;
    }

}
.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 23%;
    margin: 0;
    > h3 {
        margin: 0;
    }
}
.footer--location {
    order: 1;
    > h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
    }
    > p {
       @include flexCenter;
        font-size: 18px;
        font-weight: normal;
        line-height: 25px;
       > svg {
           margin-right: 5px;
       }
    }
}
.footer--phones {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    order: 2;
    margin-top: 10px;  
    flex-flow: column;
    align-items: center;
    > span {
      
        margin-bottom: 15px;
    }
}
.footer--registr {
    flex-flow: column;
    order: 3;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    > h3 {
        margin-bottom: 15px;
    }
    > span {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 15px;
    }
}
.footer__social {
    order: 4;
    flex-flow: column;
    align-items: center;
    > p {
        text-align: center;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        line-height: 25px;
    }
    @include responsive(918px) {
        @include flexCenter;
        width: 100%;
        padding-top: 50px;
    }
}
.social__wrap {
    display: flex;
}

.footer__social--link {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    @include flexCenter;
   flex-flow: row wrap;
    width: 66px;
    padding: 15px 0;
    
    &:last-child {
        border: none;
    }
}

.footer__copywriting {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding: 50px 0 0 0;
    color: #ffffff;
}