* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
}
/*
*
* 1 header
*
*/
.header {
	background-color: #FFF;
	width: 100%;
	height: 68px;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	border-top: 2px solid transparent;
	z-index: 999999;
}

.inner-header {
	max-width: 1025px;
	display: flex;
	margin: 0 auto;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

}

.header__link {
	width: 140px;
	cursor: pointer;
}

.header__nav {
	text-transform: uppercase;
	font-size: .875rem;
	line-height: 18px;
}

.nav__list {
	display: inline-flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav__list--item {
	padding: 24px 0 28px;
}

.nav__list--item:not(:last-child) {
	margin-right: 30px;
}

.list__item--link {
	font-family: "RobotoBold";
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 1px;
	color: rgba(0,0,0,.87);
	cursor: pointer;
}
.list__item--link:hover,
.curent {
	border-top: 3px solid rgb(0,171,235);
	padding: 22px 0 28px;
}
/*
*
* 2 video-bg
*
*/

.video-bg {
	max-width: 100%;
	height: auto;
	position: relative;
}

.video-bg__content {
	width: 100%;
	height: auto;
	transform: translateY(-40px);
}

.video-bg:before {
	content:'';
	position: absolute;
	top: 0;
	transform: translateY(-40px);
	background-color: rgba(33,33,33,.4);
	z-index: 999;
	width: 100%;
	height: 100%;
}

.main-content {
	max-width: 1025px;
	margin: 0 auto;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.main__title {
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -35%);
	z-index: 99999;
	margin: 0;
	padding: 0;
	opacity: 1;
	font-family: "RobotoLight";
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 4em;
	letter-spacing: 1px;
	text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.main__tite--top {
	display: block;
}
.main__title--bottom {
	display: block;
	font-size: 0.5em;
}

/**
 *
 * 3 price
 *
 */
.price {
	background-color: rgb(250,250,250);
	transform: translateY(-200px);
	z-index: 9999;
}

.price__list {
	transform: translateY(-70px);
	display: flex;
	list-style: none;
	border: solid 1px rgba(151,151,151,.25);
	border-radius: 2px;
	background-color: #FFF;
	padding: 10px;
	margin: 10px;
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: 400;
}

.price__list--item {
	flex-flow: column nowrap;
	border: solid 1px rgba(151,151,151,.25);
	border-radius: 2px;
	background-color: #FFF;
	margin: 10px;
	padding: 50px;
	text-align: center;
}

.list--item__img {
	display: flex;
	background-color: rgb(0,171,235);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.list--item__title {
	margin-top: 40px;
	font-size: 1.125rem;
	letter-spacing: .5px;
	text-transform: uppercase;
	color: rgba(0,0,0,.87);
	line-height: 1.5rem;
}

.list--item__descr {
	font-weight: 400;
	font-size: .875rem;
	line-height: 1.57;
	margin-top: 25px;
	letter-spacing: .5px;
	color: rgba(0,0,0,.6);
	margin-bottom: 50px;
}

.list--item__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 160px;
	font-size: .825rem;
	font-weight: 300;
	line-height: 1;
	letter-spacing: .5px;
	text-transform: uppercase;
	background-color: rgb(0,171,235);
	color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #575555 inset;
	border-bottom: 3px solid rgb(0,142,188);
	cursor: pointer;
}

.list--item__btn:hover {
	background-color: rgba(0,171,235,.8);
}
