/*
*
* 4.2 Price
*
*/
.price {
  width: 100%;
  background-color: #353535;
  font-family: 'PT Sans Narrow', sans-serif; }

.price h1 {
  display: block;
  color: #fff;
  margin: 0;
  padding: 85px 0 60px 0;
  line-height: 0; }

.price-left {
  display: inline-block;
  width: 75%;
  margin: 0 0 120px 0;
  padding: 0; }

.price-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff; }

.price-item-cell {
  list-style: none;
  margin: 0 0 38px; }

.price-item-cell p {
  display: inline-block;
  margin: 0; }

.list-item-num {
  width: 70px;
  padding: 0 0 0 20px;
  color: #505050; }

.list-item {
  width: 250px;
  font-weight: 700; }

.list-item-more {
  width: 160px; }

/*
*
* 4.3 Clock
*
*/
.price-right {
  display: inline-block;
  width: 24%;
  margin: 0 0 120px;
  padding: 0; }

.myclock {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0; }

#clock {
  display: inline-block; }

#d {
  width: 8.8em;
  height: 8.8em;
  top: 0.05em;
  left: 0.05em;
  position: relative;
  border-radius: 4.4em; }

#ii {
  padding-left: 4.34em;
  position: absolute; }

b {
  height: 9em;
  position: absolute;
  display: block;
  border: solid 0 #222;
  border-width: 1em 0;
  width: 0.12em; }

.ss, .mm, .hh {
  width: 8.0em;
  height: 8.0em;
  top: 0.4em;
  left: 0.4em;
  position: absolute; }

.hh {
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg); }

.mm {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.ss {
  -webkit-animation: tick 1s normal infinite steps(25, end);
  animation: tick 1s normal infinite steps(25, end); }

@-webkit-keyframes tick {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  12% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

@keyframes tick {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  12% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

.s {
  width: 0.1em;
  height: 4.8em;
  top: 0.6em;
  left: 3.95em;
  position: relative;
  background: #222;
  outline: 1px solid transparent;
  -webkit-animation: a360_10 60s normal infinite steps(60, end);
  animation: a360_10 60s normal infinite steps(60, end); }

.sr {
  width: 0.3em;
  height: 0.3em;
  background: #222;
  margin: -0.95em 0 0 3.84em;
  border-radius: 0.15em; }

@-webkit-keyframes a360_10 {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em); } }

@keyframes a360_10 {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em); } }

.m {
  height: 4.8em;
  left: 3.89em;
  width: 0.22em;
  position: relative;
  background: #222;
  border: 0 0 3.2em 0;
  -webkit-animation: a36016 3600s normal infinite linear;
  animation: a36016 3600s normal infinite linear;
  outline: 1px solid transparent; }

@-webkit-keyframes a36016 {
  0% {
    -webkit-transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em); }
  100% {
    -webkit-transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em); } }

@keyframes a36016 {
  0% {
    -webkit-transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em); }
  100% {
    -webkit-transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em); } }

.mr {
  width: 0.5em;
  height: 0.5em;
  background: #222;
  margin: -1.05em 0 0 3.74em;
  border-radius: 0.25em; }

.h {
  width: 0.3em;
  height: 3.4em;
  left: 3.85em;
  position: relative;
  background: #222;
  margin-top: 1.3em;
  outline: 1px solid transparent;
  -webkit-animation: a36010 43200s normal infinite linear;
  animation: a36010 43200s normal infinite linear; }

#sh .s, #sh .m, #sh .h, #sh .mr {
  background: #ddc;
  -webkit-box-shadow: 0 0 0.05em #ddc, 0 0 0.025em #ddc;
  box-shadow: 0 0 0.05em #ddc, 0 0 0.025em #ddc; }

/* Vendor CSS prefixes */
#clock {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }

#clock b > i,
#clock i > i {
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg); }

#clock b > b {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

/* Fixes */
#clock {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }

#clock b:nth-child(2) {
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

#clock b:nth-child(3) {
  transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg); }

#clock b:nth-child(4) {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

#clock b:nth-child(5) {
  transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg); }

#clock b:nth-child(6) {
  transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg); }

/* IE10 fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #css3fixed:checked ~ #clock i, #css3fixed:checked ~ #clock b {
    border-left: solid 0px #fff;
    border-right: solid 0px #fff; } }

/* Opera rotation fix */
#clock .s {
  -webkit-animation: a360_10of 60s normal infinite steps(60, end);
  animation: a360_10of 60s normal infinite steps(60, end); }

@-webkit-keyframes a360_10of {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(0deg) translate(0, -2em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(360deg) translate(0, -2em); } }

@keyframes a360_10of {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(0deg) translate(0, -2em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(360deg) translate(0, -2em); } }

.clock-shares {
  width: 140px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  text-align: center; }
