/*
*
* Adjustment settings
*
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.section {
    display: block;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9;
}

.overlay--active {
    display: block;
}

.scroll {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Fira Code', sans-serif;
    color: rgb(255, 102, 1);
}


/*
*
* Navigation
*
*/

.nav__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(230, 100, 13);
}

.nav-btn {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 25px;
    color: #ffffff;
}

.nav {
    width: 250px;
    height: 100vh;
    background: rgb(230, 100, 13);
    transform: translateX(-100%);
    transition: transform .1s ease-in-out;
    will-change: transform;
    position: fixed;
    left: 0;
    top: 0;
}

.nav--active {
    transform: translateX(0);
    z-index: 9999;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 25px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Fira Code', sans-serif;
}

.nav__link:hover {
    background: rgb(255, 102, 1);
}


/*
*
* Modal window
*
*/

.btn-modal {
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 25px;
}

.modal {
    background: rgba(0, 0, 0, .3);
    width: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}

.modal--show {
    display: flex;
}

.modal__close {
    background: none;
    outline: none;
    border: none;
    color: rgb(255, 102, 1);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}

.modal__content {
    width: 500px;
    padding: 15px;
    margin: auto;
    background: #ffffff;
    font-family: 'Fira Code', sans-serif;
    text-align: center;
}

.modal__text {
    margin: 30px 0;
}

.modal__ok {
    background: none;
    outline: none;
    border: 2px solid rgb(255, 102, 1);
    color: rgb(255, 102, 1);
    cursor: pointer;
    margin: 15px;
    font-weight: bold;
    padding: 7px 20px;
}


/*
* Ball
*
*/

#field {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border: 1px solid rebeccapurple;
    background: rebeccapurple;
    border-radius: 50%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}


/*
*
* Button's animation
*/

.button-animate {
    display: block;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 50px);
}

.button-animate__link {
    border: 3px solid rgb(255, 102, 1);
    font-size: 30px;
    color: rgb(255, 102, 1);
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
}

.button-animate__link::before,
.button-animate__link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255, 102, 1);
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.button-animate__link::after {
    opacity: 1;
    transition-delay: .2s;
}

.button-animate__link:hover {
    color: #fff;
}

.button-animate__link:hover::before,
.button-animate__link:hover::after {
    left: 0;
}

.pulse {
    background-color: rebeccapurple;
    border-radius: 50%;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes pulse {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0;
    }
}


/*
*
* Slider with autoplay and hidden images
*/

.slider {
    display: block;
    margin-top: 50px;
    width: 600px;
    margin: 100px auto;
    position: relative;
}

.container-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.slider__container {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    z-index: 99;
    cursor: pointer;
}

.slider__btn>i {
    font-size: 40px;
}

.slider__btn.prev {
    left: -70px;
}

.slider__btn.next {
    right: -70px;
}

.counter-wrapper {
    position: absolute;
    left: 50%;
    bottom: -40px;
    display: flex;
    justify-content: center;
}

.counter-wrapper-show {
    display: none;
}

.counter__item {
    display: block;
}

.counter__item:not(:last-child):after {
    content: '/';
    margin: 0 4px;
}


/*
* Accordion
*/

.accordion {
    width: 500px;
    margin: 20px auto;
    border: 1px solid;
}

.accordion__title {
    background: #f2f2f2;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.accordion__item:not(:first-child) .accordion__title {
    border-top: 1px solid #000;
}

.accordion__item>p {
    padding: 5px;
    font-size: 14px;
}

.active {
    display: block;
}

.hide {
    display: none;
}


/*
*
* Interactive tabs
*
*/

.tabs {
    display: block;
    width: 700px;
    margin: 100px auto;
    text-transform: uppercase;
    font-family: 'Fira Code', sans-serif;
    font-weight: bold;
}

.tabs__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    background: #000000;
}

.tabs__item {
    flex: 1 0;
    text-align: center;
}

.tabs__link {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #ffffff;
    transition: color .3s ease-in-out;
    transition: all .35s ease-in-out;
}

.tabs__item--active {
    color: #ffffff;
}

.tabs__content-item {
    padding: 10px;
    display: none;
    text-transform: none;
    color: rgb(255, 102, 1);
    position: relative;
}

.tabs__content-item--active {
    display: block;
    background: rgba(0, 0, 0, .1);
}


/*
*
* Hover line in target
*
*/

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: 0;
    transform: translateX(-60px);
    transition: all .35s ease-in-out;
}


/*
*
* Gallery by click with images on server
*
*/

.gallery--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 0;
    height: 400px;
}

.gallery__btn {
    width: 50px;
    height: 100%;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    transition: color .3s ease-in-out;
    transition: background .3s ease-in-out;
}

#prev--btn:hover,
#next--btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

#prev--btn:active,
#next--btn:active {
    background: rgba(32, 32, 32, 0.8);
}

.gallery {
    padding: 0;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

#gallery--img {
    min-width: 500px;
    min-height: 400px;
}