.main__wrap {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 20px;
    min-height: calc(100vh - 80px);
}

.map__wrap {
    min-width: 600px;
    height: 500px;
}