/**
*
* Basic page needs
*
**/

@import "mixins/mixins.scss";
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto-Medium.ttf");
    src: url("../fonts/Roboto-Regular.ttf");
    src: url('../fonts/Roboto-MediumItalic.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/OpenSans-SemiBold.ttf');
    src: url('../fonts/OpenSans-Bold.ttf');
    font-style: normal;
}


/*
*
* Adjustment Settings
*
*/

@import "imports/adjustment";

/*
*
* Header
*
*/

@import "imports/header";

/*
*
* Navigation
*
*/

@import "imports/navigation";

/*
*
* Hero
*
*/

@import "imports/hero";

/*
*
* About
*
*/

@import "imports/about";

/*
*
* Appartments
*
*/

@import "imports/appartments";
/*
*
* Location
*
*/

@import "imports/location";

/*
*
* Footer
*
*/

@import "imports/footer";