@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin AlignFlexStart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@mixin large {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin extraSmall {
    @media screen and (max-width: 451px) {
        @content;
    }
}

@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}