.features {
    background: #353535;
    margin-top: -160px;
    padding: 240px 0 105px 0;
}

.features__list {
    @include AlignFlexStart;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.features__item {
   display: inline-block;
   padding: 0 40px;
   text-align: center;
   font-size: 16px;
   width: 320px;

   &:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, .1);
 }
}

.features__title {
   margin: 25px 0 0 0;
   color: #fff;
   text-transform: uppercase;
   font-size: 30px;
   font-weight: normal;
   font-family: 'PTSansNarrowBold';
}

.features__descr {
   margin: 20px 0 0 0;
   color: #fff;
   font-size: 20px;
   line-height: 27px;
}