.logo__mobile {
    display: none;
    @include medium {
        @include flexCenter;
        width: 200px;
        height: 85px;
    }
}

.logo-wrap {
    display: block;
    padding: 55px 0 455px 0;
    text-align: center;
    & a {
        cursor: pointer;
    }
    @include small {
        display: none;
    }
}

.logo-small {
    display: block;
    padding: 55px 0;
    text-align: center;
    position: relative;
    &:after,
    &:before {
        border-bottom: 4vw solid #f8f5f2;
        content: "";
        position: absolute;
        bottom: -1px;
    }
    &:before {
        border-right: 50vw solid transparent;
        left: 0;
    }
    &:after {
        border-left: 50vw solid transparent;
        right: 0;
    }
    @include small {
        display: none;
    }
}