.section-map {
    margin-top: 50px;
}

.map__section {
    @include flexCenter;
    flex-flow: row wrap;
    position: relative;
    a {
        font-style: normal;
    }
}

#map {
    width: 100%;
    height: 490px;
    margin: 50px 0;
}

.map--btn {
    margin-bottom: 50px;
}