.menu-btn {
    padding: 0;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    display: none;
    i {
        font-size: 40px;
    }
    @include medium {
        @include flexCenter;
    }
    @include small {
        @include flexCenter;
    }
}

.nav {
    @include flexBetween;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .8px;
    transition: transform .2s ease-in-out;
    @include medium {
        will-change: transform;
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100vh;
        background: $hover-color;
        transform: translateX(-100%);
        flex: 1 0;
        display: inline-block;
        text-align: right;
        transition: transform .2s ease-in-out;
    }
}

.nav--active {
    @include medium {
        z-index: 9999;
        transform: translateX(0);
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin: 0 30px;
    transition: background .3s ease-in-out;
    &:not(.last-child) {
        margin-right: 0;
    }
    @include medium {
        margin: 0;
        padding-right: 20px;
        width: 100%;
        &:hover {
            background: #9f826e;
        }
        &:not(:first-child) {
            border-top: 1px solid $border-color;
        }
    }
}

.nav-link {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    line-height: 20px;
    padding: 30px 0 30px 0;
    transition: color .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover {
        color: $hover-color;
    }
    &:active {
        color: $active-color;
    }
    &:before,
    &:after {
        content: '';
        height: 3px;
        width: 0;
        background: $hover-color;
        position: absolute;
        bottom: 0;
        transition: width .2s linear;
    }
    &:before {
        right: 50%;
    }
    &:after {
        left: 50%;
    }
    &:hover:before,
    &:hover:after {
        width: 50%;
    }
    &:active:before,
    &:active:after {
        background: $active-color;
    }
    @include medium {
        font-size: 22px;
        &:hover {
            color: #fff;
        }
        &:hover:before,
        &:hover:after {
            width: 0%;
        }
        &:active {
            color: $active-color;
        }
        &:active:before,
        &:active:after {
            background: transparent;
        }
    }
}