.master {
    padding: 40px 0 60px 0;
    background: #f8f5f2;
    position: relative;
    top: 0;
    font-size: 0;
}

.master__best-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $border-color;
    margin-top: 70px;
    @include small {
        flex-flow: column wrap;
        align-items: center;
    }
}

.master__best-img {
    display: block;
    width: 480px;
    height: 480px;
}

.master__best-descr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.master__best-descr-btn {
    background: #000000;
    color: #fff;
    border: none;
    transition: background .3s ease-in-out;
    position: relative;
    top: 0;
    right: -153px;
    transform: translateX(153px);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 170px;
        border: 10px solid transparent;
        border-top: 20px solid #000;
        border-right: 6px solid #000;
        transition: border .3s ease-in-out;
    }
    &:after {
        content: '';
        position: absolute;
        top: 18px;
        right: 170px;
        border: 10px solid transparent;
        border-right: 6px solid #000;
        border-bottom: 20px solid #000;
        transition: border .3s ease-in-out;
    }
    &:hover {
        background: $hover-color;
    }
    &:active {
        background: $active-color;
    }
    &:hover:before {
        border: 10px solid transparent;
        border-top: 20px solid $hover-color;
        border-right: 6px solid $hover-color;
    }
    &:hover:after {
        border: 10px solid transparent;
        border-right: 6px solid $hover-color;
        border-bottom: 20px solid $hover-color;
    }
    &:active:before {
        color: #978374;
        border: 10px solid transparent;
        border-top: 20px solid #6a4d38;
        border-right: 6px solid #6a4d38;
    }
    &:active:after {
        color: #978374;
        border: 10px solid transparent;
        border-right: 6px solid #6a4d38;
        border-bottom: 20px solid #6a4d38;
    }
    @include medium {
        left: -5px;
        &:before,
        &:after {
            transform: rotate(180deg);
            right: -15px;
        }
        &:before {
            top: 18px;
        }
        &:after {
            top: 0;
        }
    }
    @include small {
        top: -80px;
        transform: translateX(80px);
        left: -60px;
        width: 180px;
    }
}

.master__best-name {
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
    padding: 0 150px 0 40px;
    @include medium {
        padding: 0 20px 0 40px;
        margin-top: 10px;
    }
}

.master__best-about {
    margin: 0;
    padding: 0 150px 150px 40px;
    font-size: 18px;
    line-height: 1.5;
    @include medium {
        padding: 0 50px 100px 40px;
    }
}

.skills__list {
    display: flex;
    margin: 0;
    padding: 0 40px;
    list-style: none;
    @include medium {
        display: flex;
        flex-flow: row wrap;
    }
}

.skills__item {
    @include flexCenter;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    & img {
        margin-right: 5px;
    }
    &:not(:last-child) {
        margin-right: 15px;
    }
    @include medium {
        padding-top: 10px;
    }
}

.other-masters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 0 0 0;
    padding: 0;
    @include medium {
        &:after,
        &:before {
            border-bottom: 4vw solid #353535;
            content: "";
            position: absolute;
            bottom: -1px;
        }
        &:before {
            border-right: 50vw solid transparent;
            left: 0;
        }
        &:after {
            border-left: 50vw solid transparent;
            right: 0;
        }
        @include medium {
            flex-flow: column nowrap;
        }
    }
}

.other-masters__card {
    @include flexBetween;
    flex-flow: row wrap;
    border: 1px solid $border-color;
    width: 294px;
    padding-bottom: 20px;
    &:not(:last-child) {
        margin-right: 15px;
    }
    @include medium {
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 0;
        &:not(:last-child) {
            margin-right: 0;
        }
    }
    @include small {
        flex-flow: column nowrap;
    }
}

.other-masters__img {
    width: 294px;
    height: 294px;
    margin: 0;
    padding: 0;
}

.other-masters__name {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin: 20px 0 0 0;
    padding: 0;
    text-align: center;
}

.other-masters__descr {
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center;
    height: 120px;
}