.statistics {
    display: flex;
	background: #fff;
	margin-top: -160px;
	position: relative;
	z-index: 99;
}

.statistics__header--wrap {
	padding: 20px 40px;
	position: relative;
	width: 40%;
	flex: 1 0;
	margin-top: auto;
	
    
    &:before {
        position: absolute;
        content:'';
        border: 12px solid transparent;
        border-top: 8px solid #fff;
        border-right: 20px solid #fff;
        top: 40px;
        left: -20px;
    }
}

.statistics__title {
	font-size: 2.3rem;
	line-height: 1;
	color: #000;
	font-weight: normal;
	font-family: 'PTSansNarrowBold';
	margin-bottom: 40px;
	
}

.statistics__descr {
	font-size: 1.3rem;
	line-height: 1;
	color: #000;
	margin-bottom: 30px;
}

.statistics__note {
	color: rgba(0, 0, 0, .3);
	font-size: 1.1rem;
	line-height: .9;
	flex: 1 0;
	margin-top: auto;
}

.statistics-list {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 60%;
}

.statistics-item {
	width: 50%;
	min-height: 160px;
	padding: 20px 35px;
	vertical-align: top;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

    &:nth-child(1) {
        background: #484848;
    }
    &:nth-child(2){
        background: #4e4e4e
    }
    &:nth-child(3){
        background: #353535
    }
    &:nth-child(4) {
        background: #484848;
    }
}

.statistics-count {
	color: #fff;
	font-family: 'PTSansNarrowBold';
	font-size: 4.5rem;
}

.statistics-count-descr {
	color: #fff;
	font-size: 1.1rem;
	line-height: .9;
	margin: 0;
}