.talent {
    text-align: center;
    margin-top: 50px;
}

.talent-nav__list {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}

.talent-nav__item:not(:last-child) {
    margin-right: 20px;
}

.talent-nav__link {
    padding: 15px 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 18px;
    position: relative;
    transition: color .2s ease-in-out;
    &:hover {
        color: $main-color;
    }
    &:before,
    &:after {
        content: '';
        height: 3px;
        width: 0;
        background: $main-color;
        position: absolute;
        bottom: 0;
        transition: width .3s linear;
    }
    &:before {
        right: 50%;
    }
    &:after {
        left: 50%;
    }
    &:hover:before,
    &:hover:after {
        width: 50%;
    }
    &:active:before,
    &:active:after {
        background: $main-color;
    }
}

.talent__content {
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
}

.talent__img-container {
    margin: 0;
    padding: 0;
    width: 25%;
    position: relative;
    cursor: pointer;
    &:hover .talent__hover {
        transform: rotateY(0);
    }
    @include large {
        width: 50%;
    }
    @include responsive(650px) {
        width: 100%;
    }
}

.talent__img {
    display: block;
    width: 100%;
    >img {
        display: block;
        width: 313px;
        height: 362px;
    }
}

.talent__hover {
    cursor: pointer;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.talent__hover-link {
    @include size(100%, 100%);
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    text-decoration: none;
    color: #fff;
}

.talent__icon--wrap {
    display: flex;
    justify-content: flex-end;
}

.talent__icon {
    @include flexCenter;
    @include size(40px, 40px);
    background: $hover-color;
    border-radius: 50%;
    &i {
        color: #fff;
    }
}

.talent__descr--wrap {
    text-align: center;
}

.talent__descr {
    margin: 25px 0 0 0;
    font-size: 18px;
    font-weight: 300;
}

.talent__category {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

.talent__explore--btn {
    width: 220px;
    height: 60px;
    border: none;
    outline: none;
    background: $hover-color;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    transition: background .3s ease-in-out;
    &:hover {
        background: $accent-color;
    }
}