@charset "UTF-8";
/**
*
* Basic page needs
*
**/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(../../src/libs/normalize/normalize.css);
/*
*
* Adjustment Settings
*
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'PTSansNarrowRegular', sans-serif;
  font-weight: normal;
  background-color: #f8f5f2; }

.container {
  margin: 0 auto;
  width: 960px; }
  @media screen and (max-width: 451px) {
    .container {
      width: 400px; } }
  @media screen and (max-width: 980px) {
    .container {
      width: 900px; } }
  @media screen and (max-width: 917px) {
    .container {
      width: 850px; } }
  @media screen and (max-width: 878px) {
    .container {
      width: 800px; } }
  @media screen and (max-width: 857px) {
    .container {
      width: 720px; } }
  @media screen and (max-width: 735px) {
    .container {
      width: 650px; } }
  @media screen and (max-width: 768px) {
    .container {
      width: 600px;
      padding: 20px; } }
  @media screen and (max-width: 677px) {
    .container {
      width: 550px; } }
  @media screen and (max-width: 644px) {
    .container {
      width: 500px; } }
  @media screen and (max-width: 590px) {
    .container {
      width: auto; } }
  @media screen and (max-width: 472px) {
    .container {
      width: 370px; } }
  @media screen and (max-width: 451px) {
    .container {
      width: auto; } }

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container__flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media screen and (max-width: 992px) {
  .container__flex-medium {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; } }

.section-title {
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  font-family: 'PTSansNarrowBold';
  margin: 0;
  font-size: 40px; }
  @media screen and (max-width: 768px) {
    .section-title {
      padding-bottom: 20px; } }

.page-btn {
  background: transparent;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  font-family: 'PTSansNarrowBold';
  padding: 15px 30px 13px 30px;
  border: 1px solid rgba(229, 221, 213, 0.4);
  cursor: pointer;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-align: center; }
  .page-btn:hover {
    border-color: #d5c9bd; }
  .page-btn:active {
    background: #d5c9bd;
    color: rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 768px) {
    .page-btn {
      width: 100%; } }

.hover-overlay-params {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #826550;
  padding: 20px; }

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999; }

.overlay--active {
  display: block; }

.body-fixed {
  overflow: hidden;
  width: 100%; }

/*
================================================
* HOME PAGE
================================================
*/
/*
*
* Header
*
*/
.header {
  background: #000;
  width: 100%; }

/*
*
* Nav
*
*/
.menu-btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  @media screen and (max-width: 768px) {
    .menu-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'PTSansNarrowBold', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: .8px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
  @media screen and (max-width: 768px) {
    .nav {
      width: 100%;
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0; } }
  @media screen and (max-width: 768px) {
    .nav {
      will-change: transform;
      position: fixed;
      left: 0;
      top: 0;
      width: 230px;
      height: 100vh;
      background: #826550;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); } }

@media screen and (max-width: 768px) {
  .nav--active {
    z-index: 9999;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-item {
  display: inline-block;
  margin: 0 30px; }
  .nav-item:not(.last-child) {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .nav-item {
      margin: 0;
      padding-left: 20px;
      width: 100%; }
      .nav-item:not(:first-child) {
        border-top: 1px solid rgba(229, 221, 213, 0.4); } }

.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  line-height: 20px;
  padding: 30px 0 30px 0;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }
  .nav-link:hover {
    color: #826550; }
  .nav-link:active {
    color: #777777; }
  .nav-link:before, .nav-link:after {
    content: '';
    height: 3px;
    width: 0;
    background: #826550;
    position: absolute;
    bottom: 0;
    -webkit-transition: width .2s linear;
    -o-transition: width .2s linear;
    transition: width .2s linear; }
  .nav-link:before {
    right: 50%; }
  .nav-link:after {
    left: 50%; }
  .nav-link:hover:before, .nav-link:hover:after {
    width: 50%; }
  .nav-link:active:before, .nav-link:active:after {
    background: #777777; }
  @media screen and (max-width: 768px) {
    .nav-link:hover {
      color: #fff; }
    .nav-link:active {
      color: #777777; }
    .nav-link:active:before, .nav-link:active:after {
      background: transparent; } }

/*
*
* Login
*
*/
.header-btn-wrap {
  text-transform: right;
  padding: 30px; }
  @media screen and (max-width: 768px) {
    .header-btn-wrap {
      display: none; } }
  @media screen and (max-width: 451px) {
    .header-btn-wrap {
      display: none; } }

.login-btn {
  background: none;
  color: red;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'PTSansNarrowBold', sans-serif;
  font-weight: bold;
  letter-spacing: .8px;
  font-size: 18px;
  line-height: 20px;
  padding: 0 0 0 35px;
  background: url("../img/login.svg") center left no-repeat;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }
  .login-btn:hover {
    color: #826550; }
  .login-btn:active {
    color: #777777; }

.login__form--wrap {
  width: 500px;
  display: block;
  z-index: 9999;
  background: red; }
  .login__form--wrap > input {
    padding: 12px 20px;
    margin: 8px 0;
    width: 300px;
    outline: none; }
  .login__form--wrap input::-webkit-input-placeholder {
    font-size: 11px; }
  .login__form--wrap input:-ms-input-placeholder {
    font-size: 11px; }
  .login__form--wrap input::-ms-input-placeholder {
    font-size: 11px; }
  .login__form--wrap input::placeholder {
    font-size: 11px; }
  .login__form--wrap input:focus {
    border: 3px solid #555; }
  .login__form--wrap label {
    display: inline-block;
    width: 150px;
    padding: 25px; }
  .login__form--wrap > fieldset {
    border: none;
    padding-bottom: 50px; }
  .login__form--wrap p {
    padding-left: 25px; }
  .login__form--wrap input:invalid + span::after {
    content: '×';
    color: red;
    padding-left: 10px; }
  .login__form--wrap input:valid + span::after {
    content: "✓";
    color: green;
    padding-left: 10px; }
  .login__form--wrap input#number:invalid + span::after {
    content: '× Неправильнe число';
    color: red; }
  .login__form--wrap input#number:valid + span::after {
    content: '✓';
    color: green; }
  .login__form--wrap img {
    position: relative;
    top: 22px;
    left: 20px; }
  .login__form--wrap .buttons {
    background: #ccc;
    width: 100%;
    border: 2px solid #ccc;
    height: 50px;
    margin-top: 20px;
    line-height: 47px;
    padding-left: 157px; }
  .login__form--wrap .button {
    background: green;
    width: 170px;
    border-radius: 68px;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#345919), to(#6dde7f));
    background: -webkit-linear-gradient(#345919, #6dde7f);
    background: -o-linear-gradient(#345919, #6dde7f);
    background: linear-gradient(#345919, #6dde7f);
    height: 27px;
    color: white;
    border: none; }

/**
 *
 * Logo
 *
 */
.logo__mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .logo__mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 300px;
      height: 85px; } }

.logo-wrap {
  display: block;
  padding: 55px 0 455px 0;
  text-align: center; }
  .logo-wrap a {
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .logo-wrap {
      display: none; } }

.logo-small {
  display: block;
  padding: 55px 0;
  text-align: center;
  position: relative; }
  .logo-small:after, .logo-small:before {
    border-bottom: 4vw solid #f8f5f2;
    content: "";
    position: absolute;
    bottom: -1px; }
  .logo-small:before {
    border-right: 50vw solid transparent;
    left: 0; }
  .logo-small:after {
    border-left: 50vw solid transparent;
    right: 0; }
  @media screen and (max-width: 768px) {
    .logo-small {
      display: none; } }

/**
 *
 * Statistic
 *
 */
.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-top: -160px;
  position: relative;
  z-index: 99; }
  @media screen and (max-width: 992px) {
    .statistics {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }
  @media screen and (max-width: 768px) {
    .statistics {
      margin-top: 0; } }

.statistics__header--wrap {
  padding: 20px 40px;
  position: relative;
  width: 40%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  margin-top: auto; }
  .statistics__header--wrap:before {
    position: absolute;
    content: '';
    border: 12px solid transparent;
    border-top: 8px solid #fff;
    border-right: 20px solid #fff;
    top: 40px;
    left: -20px; }
  @media screen and (max-width: 992px) {
    .statistics__header--wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 40px;
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .statistics__header--wrap {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      text-align: center; }
      .statistics__header--wrap:before {
        display: none; } }

.statistics__title {
  font-size: 40px;
  line-height: 42px;
  color: #000;
  font-weight: normal;
  font-family: 'PTSansNarrowBold';
  margin-bottom: 40px; }
  @media screen and (max-width: 992px) {
    .statistics__title {
      width: 50%;
      margin: 0; } }

.statistics__descr {
  font-size: 20px;
  line-height: 22px;
  color: #000;
  margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .statistics__descr {
      width: 50%; } }

.statistics__note {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  line-height: .9;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  margin-top: auto; }
  @media screen and (max-width: 992px) {
    .statistics__note {
      margin-top: 20px; } }

.statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 60%; }
  @media screen and (max-width: 992px) {
    .statistics-list {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .statistics-list {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }

.statistics-item {
  width: 50%;
  min-height: 160px;
  padding: 20px 35px;
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .statistics-item:nth-child(1) {
    background: #484848; }
  .statistics-item:nth-child(2) {
    background: #4e4e4e; }
  .statistics-item:nth-child(3) {
    background: #353535; }
  .statistics-item:nth-child(4) {
    background: #484848; }
  @media screen and (max-width: 768px) {
    .statistics-item {
      width: 100%;
      text-align: center; } }

.statistics-count {
  color: #fff;
  font-family: 'PTSansNarrowBold';
  font-size: 4.5rem; }

.statistics-count-descr {
  color: #fff;
  font-size: 1.1rem;
  line-height: .9;
  margin: 0; }

/*
 *
 * Features
 *
 */
.features {
  background: #353535;
  margin-top: -160px;
  padding: 450px 0 105px 0;
  position: relative; }
  .features:after, .features:before {
    border-bottom: 4vw solid #f8f5f2;
    content: "";
    position: absolute;
    bottom: -1px; }
  .features:before {
    border-right: 50vw solid transparent;
    left: 0; }
  .features:after {
    border-left: 50vw solid transparent;
    right: 0; }
  @media screen and (max-width: 992px) {
    .features {
      margin-top: -400px; } }
  @media screen and (max-width: 768px) {
    .features {
      margin-top: 0;
      padding: 0 0 20px 0; } }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }
  @media screen and (max-width: 992px) {
    .features__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  width: 320px; }
  .features__item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  @media screen and (max-width: 992px) {
    .features__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      width: 100%;
      padding: 70px 0; }
      .features__item:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); } }
  @media screen and (max-width: 768px) {
    .features__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; }
      .features__item:not(:first-child) {
        display: none; }
      .features__item:not(:last-child) {
        border: none; } }

.features__title {
  margin: 25px 0 0 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  font-family: 'PTSansNarrowBold'; }
  @media screen and (max-width: 992px) {
    .features__title {
      width: 50%; } }
  @media screen and (max-width: 768px) {
    .features__title {
      width: 100%; } }

.features__descr {
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 20px;
  line-height: 27px; }

.testimonials__slider-dots-list-mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .testimonials__slider-dots-list-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

/*
*
* News
*
 */
.news {
  padding: 115px 0 40px 0;
  border-bottom: 1px solid #e5ddd5;
  background: #f8f5f2;
  font-size: 0; }
  @media screen and (max-width: 768px) {
    .news {
      padding: 20px; } }

.news__item {
  margin-top: 60px;
  width: 320px;
  padding-right: 40px;
  display: inline-block; }

.news__link {
  display: block;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .1s ease-in-out;
  -o-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out; }
  .news__link:hover {
    color: #826550;
    text-decoration: underline; }
  .news__link:hover .news__date-wrap {
    background: #826550; }
  .news__link:hover .news__date-wrap:before {
    border-top: 8px solid #826550; }
  .news__link:active {
    color: #6a4d38;
    text-decoration: underline; }
  .news__link:active .news__date-wrap {
    color: #978374;
    background: #6a4d38; }
  .news__link:active .news__date-wrap:before {
    border-top: 8px solid #6a4d38; }

.news__date-wrap {
  width: 50px;
  background: #000;
  display: block;
  color: #fff;
  padding: 8px 0 5px 0;
  position: relative;
  float: left; }
  .news__date-wrap:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border: 25px solid transparent;
    border-top: 8px solid #000;
    -webkit-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out; }

.news__date {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: 'PTSansNarrowBold';
  line-height: .8; }

.news__month {
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 16px; }

.news__descr {
  margin: -12px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  padding-left: 70px; }

/*
*
* Testimonials
*
 */
.testimonials {
  margin: 115px 0 40px 0; }

.testimonials__slider-wrap {
  margin-top: 40px;
  padding: 0 70px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .testimonials__slider-wrap {
      width: 100%;
      padding: 0; } }

.testimonials__slider-btn {
  border: 1px solid #e5ddd5;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .testimonials__slider-btn:hover {
    border-color: #d5c9bd; }
  .testimonials__slider-btn:active {
    background: #d5c9bd;
    color: rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 768px) {
    .testimonials__slider-btn {
      display: none; } }

.testimonials__slider-btn--prev {
  left: 0; }

.testimonials__slider-btn--next {
  right: 0; }

.testimonials__slider-container {
  font-size: 0; }
  @media screen and (max-width: 768px) {
    .testimonials__slider-container {
      width: 100%;
      text-align: center;
      border: 1px solid #e5ddd5; } }

.testimonials__slider-item {
  margin: 0;
  font-size: 0; }

.testimonials__slider-title {
  margin: 0; }

.testimonials__slider-img-wrap,
.testimonials__slider-descr-wrap {
  display: inline-block;
  font-size: 16px;
  vertical-align: top; }

.testimonials__slider-img-wrap {
  width: 250px; }

.testimonials__slider-img {
  max-width: 100%;
  display: block; }

.testimonials__slider-descr-wrap {
  width: calc(100% - 250px);
  border: 1px solid #e5ddd5;
  border-left: 0;
  min-height: 160px;
  padding: 30px 70px 0 70px; }
  @media screen and (max-width: 992px) {
    .testimonials__slider-descr-wrap {
      padding: 0 20px; } }
  @media screen and (max-width: 768px) {
    .testimonials__slider-descr-wrap {
      width: 100%;
      padding: 0;
      border: none; } }

.testimonials__slider-title {
  color: #000;
  font-weight: normal;
  font-family: 'PTSansNarrowBold';
  font-size: 24px;
  margin: 0; }

.testimonials__slider-descr {
  color: #000;
  margin: 15px 0 0 0;
  font-size: 18px;
  line-height: 27px; }

.testimonials__slider-dots-list {
  display: block;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 42px 0 0 0; }

.testimonials__slider-dots-item {
  display: inline-block; }

.testimonials__slider-dots-item:not(:last-child) {
  margin-right: 20px; }

.testimonials__slider-dots-btn {
  display: block;
  border: 1px solid #858483;
  width: 10px;
  height: 10px;
  padding: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer; }

.testimonials__slider-dots-item--active .testimonials__slider-dots-btn {
  background: #353535; }
  .testimonials__slider-dots-item--active .testimonials__slider-dots-btn:hover {
    background: #353535; }

/*
*
* Footer
*
*/
.footer {
  background-color: #292929;
  height: auto; }

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px; }
  @media screen and (max-width: 768px) {
    .footer__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; } }

.footer__place {
  vertical-align: top;
  font-style: normal;
  font-family: 'PTSansNarrowRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .footer__place {
      width: 100%;
      text-align: center; } }

.place-name {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 20px 0;
  font-family: 'PTSansNarrowBold';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #fff; }

.footer__contacts {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin: 0; }

.social__title {
  padding: 0 0 20px 0;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .social__title {
      width: 100%;
      text-align: center;
      padding: 30px; } }

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social-item {
  border: 1px solid #3f3f3f;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .social-item:not(:last-child) {
    margin-right: 5px; }
  .social-item:hover {
    background: rgba(255, 255, 255, 0.048); }

.social__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px; }

.about-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .about-developer {
      width: 100%;
      text-align: center;
      padding: 30px; } }

.about-dev {
  padding: 0 0 20px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  margin: 0; }

.about-link {
  margin: 0;
  padding: 15px 30px;
  border: 1px solid #3f3f3f;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .about-link:hover {
    background: rgba(255, 255, 255, 0.048); }

/*
*
* Portfolio_BestMaster
*
*/
.master {
  padding: 40px 0 60px 0;
  background: #f8f5f2;
  position: relative;
  top: 0;
  font-size: 0; }

.master__best-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid rgba(229, 221, 213, 0.4);
  margin-top: 70px; }
  @media screen and (max-width: 768px) {
    .master__best-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.master__best-img {
  display: block;
  width: 480px;
  height: 480px; }

.master__best-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.master__best-descr-btn {
  background: #000000;
  color: #fff;
  border: none;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  position: relative;
  top: 0;
  right: -153px;
  -webkit-transform: translateX(153px);
  -ms-transform: translateX(153px);
  transform: translateX(153px); }
  .master__best-descr-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 172px;
    border: 10px solid transparent;
    border-top: 20px solid #000;
    border-right: 6px solid #000;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out; }
  .master__best-descr-btn:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 172px;
    border: 10px solid transparent;
    border-right: 6px solid #000;
    border-bottom: 20px solid #000;
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out; }
  .master__best-descr-btn:hover {
    background: #826550; }
  .master__best-descr-btn:active {
    background: #777777; }
  .master__best-descr-btn:hover:before {
    border: 10px solid transparent;
    border-top: 20px solid #826550;
    border-right: 6px solid #826550; }
  .master__best-descr-btn:hover:after {
    border: 10px solid transparent;
    border-right: 6px solid #826550;
    border-bottom: 20px solid #826550; }
  .master__best-descr-btn:active:before {
    color: #978374;
    border: 10px solid transparent;
    border-top: 20px solid #6a4d38;
    border-right: 6px solid #6a4d38; }
  .master__best-descr-btn:active:after {
    color: #978374;
    border: 10px solid transparent;
    border-right: 6px solid #6a4d38;
    border-bottom: 20px solid #6a4d38; }
  @media screen and (max-width: 992px) {
    .master__best-descr-btn {
      left: -175%;
      top: 50px; }
      .master__best-descr-btn:before, .master__best-descr-btn:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        right: -15px; }
      .master__best-descr-btn:before {
        top: 18px; }
      .master__best-descr-btn:after {
        top: 0; } }
  @media screen and (max-width: 768px) {
    .master__best-descr-btn {
      top: -80px;
      -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
      transform: translateX(80px);
      left: 0;
      width: 180px; } }

.master__best-name {
  font-size: 30px;
  font-weight: 700;
  margin-top: 60px;
  padding: 0 150px 0 40px; }
  @media screen and (max-width: 992px) {
    .master__best-name {
      padding: 0 20px 0 40px;
      margin-top: 10px; } }

.master__best-about {
  margin: 0;
  padding: 0 150px 150px 40px;
  font-size: 18px;
  line-height: 1.5; }
  @media screen and (max-width: 992px) {
    .master__best-about {
      padding: 0 50px 100px 40px; } }

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 40px;
  list-style: none; }
  @media screen and (max-width: 992px) {
    .skills__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1; }
  .skills__item img {
    margin-right: 5px; }
  .skills__item:not(:last-child) {
    margin-right: 15px; }
  @media screen and (max-width: 992px) {
    .skills__item {
      padding-top: 10px; } }

.other-masters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 40px 0 0 0;
  padding: 0; }
  @media screen and (max-width: 992px) {
    .other-masters:after, .other-masters:before {
      border-bottom: 4vw solid #353535;
      content: "";
      position: absolute;
      bottom: -1px; }
    .other-masters:before {
      border-right: 50vw solid transparent;
      left: 0; }
    .other-masters:after {
      border-left: 50vw solid transparent;
      right: 0; } }

@media screen and (max-width: 992px) and (max-width: 992px) {
  .other-masters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; } }

.other-masters__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px solid rgba(229, 221, 213, 0.4);
  width: 294px;
  padding-bottom: 20px; }
  .other-masters__card:not(:last-child) {
    margin-right: 15px; }
  @media screen and (max-width: 992px) {
    .other-masters__card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 0; }
      .other-masters__card:not(:last-child) {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .other-masters__card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.other-masters__img {
  width: 294px;
  height: 294px;
  margin: 0;
  padding: 0; }

.other-masters__name {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center; }

.other-masters__descr {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  margin: 20px 0;
  padding: 0 20px;
  text-align: center;
  height: 120px; }

/*
*
* Portfolio_Price
*
*/
.price {
  width: 100%;
  background-color: #353535;
  font-family: 'PTSansNarrowRegular', sans-serif;
  color: #ffffff;
  padding: 100px 0; }

.price__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: 'PTSansNarrowRegular', sans-serif;
  margin: 0;
  padding: 0 0 50px 0;
  font-size: 40px; }

.price__table {
  font-size: 18px;
  color: #fff;
  border: 1px solid #777777;
  border-collapse: collapse; }
  @media screen and (max-width: 992px) {
    .price__table {
      width: 100%;
      margin-bottom: 20px; } }

.table__num {
  color: #777777;
  font-size: 16px;
  border: 1px solid #777777;
  padding: 10px 30px; }

.table__item,
.table__descr,
.table__price {
  font-family: 'PTSansNarrowBold', sans-serif;
  letter-spacing: 1px;
  border: 1px solid #777777;
  padding: 10px 50px 10px 20px; }

.table__descr,
.table__price {
  font-family: 'PTSansNarrowRegular', sans-serif;
  border: 1px solid #777777;
  padding: 10px 50px 10px 20px; }

/*
*
* Portfolio_Myclock
*
*/
.myclock {
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 4px 40px;
  border: 1px solid #777777; }
  @media screen and (max-width: 992px) {
    .myclock {
      width: 100%;
      padding: 40px; } }

#clock {
  display: inline-block; }
  @media screen and (max-width: 992px) {
    #clock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

#d {
  width: 8.8em;
  height: 8.8em;
  top: 0.05em;
  left: 0.05em;
  position: relative;
  border-radius: 4.4em; }

#ii {
  padding-left: 4.34em;
  position: absolute; }

b {
  height: 9em;
  position: absolute;
  display: block;
  border: solid 0 #222;
  border-width: 1em 0;
  width: 0.12em; }

.ss, .mm, .hh {
  width: 8.0em;
  height: 8.0em;
  top: 0.4em;
  left: 0.4em;
  position: absolute; }

.hh {
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg); }

.mm {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.ss {
  -webkit-animation: tick 1s normal infinite steps(25, end);
  animation: tick 1s normal infinite steps(25, end); }

@-webkit-keyframes tick {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  12% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

@keyframes tick {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  12% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); }
  100% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg); } }

.s {
  width: 0.1em;
  height: 4.8em;
  top: 0.6em;
  left: 3.95em;
  position: relative;
  background: #222;
  outline: 1px solid transparent;
  -webkit-animation: a360_10 60s normal infinite steps(60, end);
  animation: a360_10 60s normal infinite steps(60, end); }

.sr {
  width: 0.3em;
  height: 0.3em;
  background: #222;
  margin: -0.95em 0 0 3.84em;
  border-radius: 0.15em; }

@-webkit-keyframes a360_10 {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em); } }

@keyframes a360_10 {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em); } }

.m {
  height: 4.8em;
  left: 3.89em;
  width: 0.22em;
  position: relative;
  background: #222;
  border: 0 0 3.2em 0;
  -webkit-animation: a36016 3600s normal infinite linear;
  animation: a36016 3600s normal infinite linear;
  outline: 1px solid transparent; }

@-webkit-keyframes a36016 {
  0% {
    -webkit-transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em); }
  100% {
    -webkit-transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em); } }

@keyframes a36016 {
  0% {
    -webkit-transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(0deg) translate(0, -1.6em); }
  100% {
    -webkit-transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em);
    transform: translate(0, 1.6em) rotate(360deg) translate(0, -1.6em); } }

.mr {
  width: 0.5em;
  height: 0.5em;
  background: #222;
  margin: -1.05em 0 0 3.74em;
  border-radius: 0.25em; }

.h {
  width: 0.3em;
  height: 3.4em;
  left: 3.85em;
  position: relative;
  background: #222;
  margin-top: 1.3em;
  outline: 1px solid transparent;
  -webkit-animation: a36010 43200s normal infinite linear;
  animation: a36010 43200s normal infinite linear; }

#sh .s, #sh .m, #sh .h, #sh .mr {
  background: #ddc;
  -webkit-box-shadow: 0 0 0.05em #ddc, 0 0 0.025em #ddc;
  box-shadow: 0 0 0.05em #ddc, 0 0 0.025em #ddc; }

/* Vendor CSS prefixes */
#clock {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }

#clock b > i,
#clock i > i {
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg); }

#clock b > b {
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

/* Fixes */
#clock {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; }

#clock b:nth-child(2) {
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg); }

#clock b:nth-child(3) {
  transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg); }

#clock b:nth-child(4) {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

#clock b:nth-child(5) {
  transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg); }

#clock b:nth-child(6) {
  transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg); }

/* IE10 fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #css3fixed:checked ~ #clock i, #css3fixed:checked ~ #clock b {
    border-left: solid 0px #fff;
    border-right: solid 0px #fff; } }

/* Opera rotation fix */
#clock .s {
  -webkit-animation: a360_10of 60s normal infinite steps(60, end);
  animation: a360_10of 60s normal infinite steps(60, end); }

@-webkit-keyframes a360_10of {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(0deg) translate(0, -2em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(360deg) translate(0, -2em); } }

@keyframes a360_10of {
  0% {
    -webkit-transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(0deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(0deg) translate(0, -2em); }
  100% {
    -webkit-transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    transform: translate(0, 1em) rotate(360deg) translate(0, -1em);
    -o-transform: translate(0, 2em) rotate(360deg) translate(0, -2em); } }

.myclock__descr {
  padding-top: 20px;
  width: 140px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .myclock__descr {
      width: 100%;
      color: #ffffff;
      font-size: 40px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 700;
      padding-top: 0; } }

/*
*
* Form_Masters
*
*/
.form__content {
  height: 100%;
  padding: 40px 0 0 0;
  background: #f8f5f2;
  top: 0;
  font-size: 0; }

.form__enroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px; }

.info-list-item {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(229, 221, 213, 0.4);
  font-size: 22px;
  font-family: 'PTSansNarrowRegular', sans-serif;
  padding: 20px 0 20px 20px;
  margin: 10px 0;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out; }
  .info-list-item:not(:last-child) {
    margin-right: 10px; }
  .info-list-item:hover {
    border: 1px solid #d5c9bd; }
  @media screen and (max-width: 768px) {
    .info-list-item {
      width: 100%; }
      .info-list-item:not(:last-child) {
        margin-right: 0; } }

.more-info__title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #363534;
  font-weight: normal;
  margin-bottom: 60px; }
  .more-info__title:before, .more-info__title:after {
    background-color: #e5ddd5;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%; }
  .more-info__title:before {
    right: 0;
    margin: 0 40px 0 0; }
  .more-info__title:after {
    left: 0;
    margin: 0 0 0 40px; }
  @media screen and (max-width: 992px) {
    .more-info__title:before, .more-info__title:after {
      width: 10%; } }
  @media screen and (max-width: 768px) {
    .more-info__title:before, .more-info__title:after {
      width: 0; } }

.model-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none; }
  .model-list input[type=radio] {
    display: none; }
  @media screen and (max-width: 768px) {
    .model-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }

.model-icon-checked {
  display: none; }

.model-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .model-list-item input[type=radio]:checked + .item-form ~ span {
    color: #826550; }
  .model-list-item input[type=radio]:checked + .item-form {
    background-color: #826550; }
  .model-list-item input[type=radio]:checked ~ .model-icon {
    display: none; }
  .model-list-item input[type=radio]:checked ~ .model-icon-checked {
    display: block; }
  @media screen and (max-width: 768px) {
    .model-list-item {
      padding: 0 30px 30px 0; } }

.item-form {
  margin: 0;
  padding: 0;
  font-size: 0;
  content: "";
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(229, 221, 213, 0.4);
  cursor: pointer;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .item-form:hover {
    border: 1px solid #d5c9bd; }
  .item-form:active {
    background-color: #777777; }
  .item-form:hover + .model-name {
    color: #826550; }
  .item-form:hover ~ .model-icon {
    display: none; }
  .item-form:hover ~ .model-icon-checked {
    display: block; }

.model-name {
  font-size: 22px;
  text-transform: lowercase;
  text-align: center;
  color: #363534;
  font-weight: normal;
  padding: 35px 0 35px 0;
  margin: 0;
  width: 80px;
  cursor: pointer; }

/*
*
* Form_Extraslist
*
*/
.extras-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #363534;
  font-weight: normal; }

.extras-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .extras-list-item input[type=checkbox]:hover + .extras-check ~ span {
    color: #826550; }
  .extras-list-item input[type=checkbox]:hover + .extras-check {
    color: #826550; }
  .extras-list-item input[type=checkbox]:hover + label:before {
    border: 1px solid #d5c9bd; }
  .extras-list-item input[type=checkbox]:checked + .extras-check ~ span {
    color: #826550; }
  .extras-list-item input[type=checkbox]:checked + .extras-check {
    color: #826550; }
  .extras-list-item input[type=checkbox]:checked + label:before {
    background: #826550; }

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px; }

.checkbox + label {
  cursor: pointer; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 38px;
  height: 37px;
  background: #fff;
  border: 1px solid rgba(229, 221, 213, 0.4); }

.form__send {
  width: 100%;
  height: 70px;
  color: #000;
  font-size: 18px;
  font-family: 'PTSansNarrowBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 85px;
  border: 1px solid rgba(229, 221, 213, 0.4);
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .form__send:hover {
    border: 1px solid #d5c9bd;
    background: #826550;
    color: #fff; }
  .form__send:active {
    background: #777777; }
